h1{color:orange;font-size:70px;font-family: 'Times New Roman', Times, serif;
background-color:lightblue;border:5px solid black;padding:10px;direction:rtl;text-align:center;letter-spacing:1px;}

p1{color:purple}

p2{color:blue;font-size:20px;font-family: 'Times New Roman', Times, serif;}

img{border-radius: 90000000px;}
